/* 

AVOID TOUCHIN GTHIS FILE

AND ALWAYS KEEP IN MIND

Perfection = Paralysis 

*/

/*

.crumina-portfolio-item {
    border-radius: 300px;
    text-align: center;
}
.additional-info {
    width: 250px !important;
    right: 0 !important;
    left: 0 !important;
    margin: auto !important;
}

*/