/* 

AVOID TOUCHIN GTHIS FILE

AND ALWAYS KEEP IN MIND

Perfection = Paralysis 

*/


.crumina-portfolio-item {
    border-radius: 300px;
    text-align: center;
}
.additional-info {
    width: 250px;
    right: 0;
    left: 0;
    margin: auto;
}